auctionClient/src/wsdl/localhost_8080/Auction.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web/" name="Auction">
<types>
<xsd:schema>
<xsd:import namespace="http://web/" schemaLocation="http://localhost:8080/Auction?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getItemByDescription">
<part name="parameters" element="tns:getItemByDescription"></part>
</message>
<message name="getItemByDescriptionResponse">
<part name="parameters" element="tns:getItemByDescriptionResponse"></part>
</message>
<message name="getItemById">
<part name="parameters" element="tns:getItemById"></part>
</message>
<message name="getItemByIdResponse">
<part name="parameters" element="tns:getItemByIdResponse"></part>
</message>
<message name="createBid">
<part name="parameters" element="tns:createBid"></part>
</message>
<message name="createBidResponse">
<part name="parameters" element="tns:createBidResponse"></part>
</message>
<message name="cleanDatabase">
<part name="parameters" element="tns:cleanDatabase"></part>
</message>
<message name="cleanDatabaseResponse">
<part name="parameters" element="tns:cleanDatabaseResponse"></part>
</message>
<message name="removeItem">
<part name="parameters" element="tns:removeItem"></part>
</message>
<message name="removeItemResponse">
<part name="parameters" element="tns:removeItemResponse"></part>
</message>
<message name="createItem">
<part name="parameters" element="tns:createItem"></part>
</message>
<message name="createItemResponse">
<part name="parameters" element="tns:createItemResponse"></part>
</message>
<portType name="Auction">
<operation name="getItemByDescription">
<input wsam:Action="http://web/Auction/getItemByDescriptionRequest" message="tns:getItemByDescription"></input>
<output wsam:Action="http://web/Auction/getItemByDescriptionResponse" message="tns:getItemByDescriptionResponse"></output>
</operation>
<operation name="getItemById">
<input wsam:Action="http://web/Auction/getItemByIdRequest" message="tns:getItemById"></input>
<output wsam:Action="http://web/Auction/getItemByIdResponse" message="tns:getItemByIdResponse"></output>
</operation>
<operation name="createBid">
<input wsam:Action="http://web/Auction/createBidRequest" message="tns:createBid"></input>
<output wsam:Action="http://web/Auction/createBidResponse" message="tns:createBidResponse"></output>
</operation>
<operation name="cleanDatabase">
<input wsam:Action="http://web/Auction/cleanDatabaseRequest" message="tns:cleanDatabase"></input>
<output wsam:Action="http://web/Auction/cleanDatabaseResponse" message="tns:cleanDatabaseResponse"></output>
</operation>
<operation name="removeItem">
<input wsam:Action="http://web/Auction/removeItemRequest" message="tns:removeItem"></input>
<output wsam:Action="http://web/Auction/removeItemResponse" message="tns:removeItemResponse"></output>
</operation>
<operation name="createItem">
<input wsam:Action="http://web/Auction/createItemRequest" message="tns:createItem"></input>
<output wsam:Action="http://web/Auction/createItemResponse" message="tns:createItemResponse"></output>
</operation>
</portType>
<binding name="AuctionPortBinding" type="tns:Auction">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getItemByDescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getItemById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createBid">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cleanDatabase">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removeItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="Auction">
<port name="AuctionPort" binding="tns:AuctionPortBinding">
<soap:address location="http://localhost:8080/Auction"></soap:address>
</port>
</service>
</definitions>